<div class="navbar" id="navbar">
   <div class="navbar-menu" >
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Women
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <p><%= link_to "Casual", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Sandals", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Flipflops", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Slippers", women_slippers_path, class:"dropdown-item" %></p>
            <p><strong><%= link_to "Sale", "#", class:"dropdown-item" %></strong></p>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Men
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <p><%= link_to "Casual", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Sandals", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Flipflops", "#", class:"dropdown-item" %></p>
            <p><strong><%= link_to "Sale", "#", class:"dropdown-item" %></strong></p>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kids
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <p><%= link_to "Casual", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Sandals", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Flipflops", "#", class:"dropdown-item" %></p>
            <p><strong><%= link_to "Sale", "#", class:"dropdown-item" %></strong></p>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <p><%= link_to "Casual", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Sandals", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Flipflops", "#", class:"dropdown-item" %></p>
            <p><strong><%= link_to "Sale", "#", class:"dropdown-item" %></strong></p>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Sale</strong>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <p><%= link_to "Casual", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Sandals", "#", class:"dropdown-item" %></p>
            <p><%= link_to "Flipflops", "#", class:"dropdown-item" %></p>
          </div>
        </div>
        <div class="basket d-flex">
          <p style="width:max-content; padding: 0 12px;">My account</p>
          <%= link_to " ", "#", class:"fas fa-shopping-basket" %>
          <p class="total-price"> £<ins class="total">0,00</ins></p>
        </div>
    </div>
    <div class="">
       <%= link_to(image_tag("components/logo.png",class:"logo"), root_path) %>
    </div>
    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>
 
</div>