<div class="home">
<%= render 'shared/sidemenu' %>
    <div class="products">
    <p class="notice"><%= notice %></p>
    <div class="promo-belt">
        <h4><strong>Free delivery</strong></h4>
        <p>on all orders over £200!</p>
        <div class="promo-cards d-flex">
            <div class="promo-card btn" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
                Shop Nike
            </div>
             <div class="promo-card btn" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1577880/pexels-photo-1577880.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
                Shop Sandals
            </div>
        </div>
    </div>
        <h3><strong>New in</strong></h3>
        <h4 class="mt-3">Women</h4> 
        <div class="cards"> 
            <% @products.each do |product| %>
                <% if product.category == "women" %>
                    <div class="product">
                        <a href="#"><img src=<%= product.photos.first %> alt="<%= product.name%>"/></a>
                        <div class="description">
                            <p class="text-center product-name"><strong><%= link_to product.name, product %></strong></p>
                            <p class="text-center price">£<%= product.price%></p>
                        </div>
                    </div>
                <% end %>
            <%end%>
        </div>
        <h4 class="mt-3">Men</h4> 
        <div class="cards"> 
            <% @products.each do |product| %>
                <% if product.category == "men" %>
                    <div class="product">
                        <a href="#"><img src=<%= product.photos.first %> alt="<%= product.name%>"/></a>                    
                        <div class="description">
                            <p class="text-center product-name"><strong><%= link_to product.name, product %></strong></p>
                            <p class="text-center price">£<%= product.price %></p>
                        </div>
                    </div>
                <% end %>
            <%end%>
        </div>
        <h4 class="mt-3">Kids</h4>
        <div class="cards"> 
            <% @products.each do |product| %>
                <% if product.category == "kids" %>
                    <div class="product">
                        <a href="#"><img src=<%= product.photos.first %> alt="<%= product.name%>"/></a>
                        <div class="description">
                            <p class="text-center product-name"><strong><%= link_to product.name, product %></strong></p>
                            <p class="text-center price">£<%= product.price %></p>
                        </div>
                    </div>
                <% end %>
            <%end%>
        </div>
    </div>
</div>