<div class="order card" >
  <div class="order-details">
    <h4>Order summary:</h4>
    <br>
    <p><strong>Your items:</strong></p>
    <div class="summary">
      
      <br>
      <% @current_cart.line_items.each do |item| %>
        <p><%= item.quantity %> x <%= item.product.name %> (<%= item.product.colour %>) | <%= item.total_price %></p>
      <% end %>
      
    </div>
    <div class="delivery-address">
      <p><strong>Delivery address:</strong></p>
      <p><%= current_user.name %></p>
      <p><%= current_user.address[:street]%><br><%= current_user.address[:postcode]%><br><%= current_user.address[:city]%><br><%= current_user.address[:country]%></p>
    </div>
  </div>
  <div class="delivery-payment-options">
  <h4>Payment and Delivery</h4>
  <br>
    <%= simple_form_for [@order] do |f| %>
        <%= f.input :payment_method, as: :radio_buttons %>
        <%= f.input :delivery, selected: 1 %>
      <div class="calculate-total">
        <p><strong>Order total:</strong><p class="total-order">£<%= (@current_cart.sub_total + 5.99) %> </p></p>  
      </div>
     
      <%= f.submit "Proceed to payment", class: 'btn bordered' %>
    <% end %>
    
  </div>
</div>