<div class="product-page">
    <div class="photos">
        <div class="miniatures">
            <% @product.photos.each do |photo| %>
            <div class="miniature">
                <img src=<%= photo %> alt="<%= @product.name %>" class="btn photo"/>
            </div>
            <% end %>
        </div>
        <div class="display">
            <img src=<%= @product.photos.first %> alt="<%= @product.name %>" class="btn large-photo"/>
        </div>
        <div class="details">
            <h3><%= @product.name %> </h3>
            <div class="price">
                <p><%= %w[nike adidas prada dr.martens].sample.capitalize %></p>  
                <p>£<%= @product.price %> </p>
            </div>
            <div class="description">
                <p><strong>Product description:<br><br></strong><%= @product.description %></p>
                <p class="gray">Colour: <%= @product.colour %>  <br>Upper and Sole: Other.<br>Lining: Textile.</p>
            </div>
            <div class="sizes">
                <p><strong>Available sizes:</strong></p>
                <p><del>4</del>  |  4.5  |  5  |  5.5  |  6  |  <del>6.5</del>  |  7 </p>
                <div class="dropdown">
                    <button class=" m-1btn dropdown-toggle sizes-dropdown bordered" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose your size:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <p class="dropdown-item size" href="#">UK 4.5</p>
                        <p class="dropdown-item size" href="#">UK 5</p>
                        <p class="dropdown-item size" href="#">UK 5.5</p>
                        <p class="dropdown-item size" href="#">UK 6</p>
                        <p class="dropdown-item size" href="#">UK 7</p>
                    </div>
                <div>
                    <%= simple_form_for [@product, @line_item] do |f| %>
                     <%= f.input :quantity %>
                     <%= f.input :product_size %>
                     <%= f.submit 'Add to Cart', class: 'm-1 btn bordered' %>
                    <% end %>
                </div>
                <div class="size-guide mt-4" style="color: gray;">
                    <p><small><i class="fas fa-ruler"></i> Check our <u>size guide »</u></small></p>
                    <p><small><i class="fas fa-gift"></i> Is it a gift? We offer<u> gift wrapping »</u></small></p>
                
                </div>
            </div>
        </div>
    </div>
</div> 
